.actor-image {
    width: 500px;
    height: 450px;
    object-fit: cover;
    border-radius: 15px;
}


.actor-info{
    display: grid;
    place-items: center;
    margin-top:3rem;
}
.center{
    display: grid;
    place-items: center;
    padding: 1.5rem;
}
/* .particle {
    z-index: -40;
} */

.actor-movie-image{
    width: 300px;
    height: 400px;
    object-fit: cover;
    padding: 10px;
}
