@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

.container {
    position: relative;

    overflow-x: hidden;
    /* height: 100vh;
    width: 100vw; */
}

.background {
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    pointer-events: none;
    height: 100svh;
    opacity: 0.4;
    object-fit: cover;
}

.movie-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 85svh;
}

.movie-title {
    font-size: 40px;
    font-family: Poppins;
}

.movie-img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.movie-details {
    font-family: Poppins;
    width: 60vw;
    background-color: rgba(0, 0, 0, 0.07);
    box-shadow: -10px 9px 70px 6px rgba(0, 0, 0, 0.56);
    -webkit-box-shadow: -10px 9px 70px 6px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: -10px 9px 70px 6px rgba(0, 0, 0, 0.56);
    text-shadow: 1px 1px 4px black;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 20px;
}

.home {
    margin-left: 80px;
    margin-top: 30px;
}

.home-text {
    font-size: 24px;
}

.actors {
    display: flex;
    align-items: center;
    justify-content: flex-start;


}

.actors img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
}

.actors p {
    font-size: 15px;
    height: 2rem;
}

.actors-details {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1rem;
    /* padding: 10px; */
    padding: .5rem 0;
    width: 15vw;

}

/* .similar-movies {
    margin-top: 50px;

} */

.similar-movie-details {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
overflow: hidden;

}
.dummy-image{
    width: 350px;
    height: 350px;
}

.movie {
    width: 300px;
    height: 420px;
}

.similar-movie-details p {
    padding: .5rem 0;
}

.similar-movies img {
    width: 100%;
    height: 400px !important;
    object-fit: cover;

}

.similar-heading {
    display: grid;
    place-items: center;
    /* margin-top: -100px; */
    padding: 2rem;
    text-transform: uppercase;

}

.test {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    transition: all 0.2s ease-in-out;
    gap: 10px;
}

.movie-trailer {
    display: flex;
    justify-content: flex-start;
    margin-left: 5svw;
}

.review {
    display: flex;
    justify-content: center;
}

.genresM {
    display: flex;
    justify-content: space-between;

}

.movieGenre {
    padding: .5rem;
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    text-shadow: none;
    border-radius: 1rem;
    font-size: 14px;
    max-height: 43.2px;
}

.bxl-imdb {
    font-size: 1.9rem;
    color: #f3ce13;
}

.genres-names {
    display: flex;
    gap: 20px;
}

.bxs-videos {
    font-size: 2.5rem;
    transition: all 0.3s ease-in-out;
}

.bxs-videos:hover {
    color: red;
}



@media only screen and (max-width: 600px) {
    .home {
        display: flex;
        width: 100%;
        padding: 0;
        margin: 0 !important;
        justify-content: flex-start;
    }

    .home a {
        font-size: 18px;
        padding: 1rem 2rem;
        text-decoration: underline;
    }

    .movie-content {
        display: flex;
        flex-direction: column;
        height: 100% !important;
    }

    .movie-img {
        /* width: 200px !important;
        height: 220px !important;
        object-fit: cover;
        margin-top: 15px !important;
        border-radius: 20px; */
        display: none;

    }

    .movie-details {
        width: 100% !important;
        margin-top: 5px;
    }

    .movie-title {
        font-size: 1.3em !important;
    }

    .movie-overview {
        font-size: 14px;
    }

    .series-actors {
        width: 50px !important;
        height: 50px !important;
    }

    .actors-details {
        gap: 4px !important;

    }

    .actors {
        gap: 20px;
        width: 100%;
        flex-wrap: wrap;

    }

    .actor-name {
        font-size: 12px !important;
    }

    .genresM {
        margin-top: 15px;

    }

    .movieGenre {
        font-size: 12px !important;
        padding: 15px !important;
        display: grid;
        place-content: center;
    }

    .background {
        object-fit: cover !important;
        width: 100vw !important;
        position: absolute;
        inset: 0;
        height: 100vh;
        background-size: 100%;
    }
}